html {
  box-sizing: border-box;
  background-color: rgba(216, 187, 142, 0.3);

  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.static-header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px 20px;

  width: 100%;
  background-color: rgb(216, 187, 142);

  box-shadow: 0px 0px 4px 2px grey;

  z-index: 1;
}

.header__title {
  font-size: 16pt;
  margin-left: 20px;
}

.header__button {
  padding: 5px;
  border-radius: 5px;

  font-family: inherit;
  font-size: 16pt;
  border: unset;

  background-color: rgb(231, 220, 179);

  box-shadow: 0px 0px 2px 1px rgb(0, 0, 0);
  float: right;
}

.bookshelf {
  position: relative;

  top: 70px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  height: 90vh;
  width: auto;
  overflow: visible;
}

.bookshelf__main-pane {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 50px;

  width: 80%;

  padding: 5px;
  margin: 20px;
}

.bookshelf__navigation-button {
  all: unset;
  text-align: center;
  font-family: 'Material Icons';
  font-size: 30pt;
}

.bookshelf__book {
  position: relative;

  background-color: white;
  box-shadow: 0px 0px 7px 2px rgb(190, 190, 190);

  border: 2px solid white;
  border-radius: 6px;

  padding: 25px;
  font-size: 16pt;
}

.book__attribute {
  display: flex;
  flex-flow: row nowrap;
  font-size: inherit;
  row-gap: 25px;
  margin-right: 25px;
}

.book__attribute_type-key {
  width: 15em;
  border-bottom: 3px solid rgba(216, 187, 142, 0.8);
}

.book__attribute_type-value {
  width: 90%;
  border-bottom: 3px solid rgba(216, 187, 142, 0.8);
  padding-left: 10px;
}

.book__button-read-toggle {
  accent-color: rgba(216, 187, 142, 0.6);
}

.book__button-remove {
  all: unset;
  font-family: 'Material Icons';
  font-size: inherit;

  color: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: 10px;
  right: 10px;
}

.book__button_read {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15px;
  width: 120px;
  align-items: center;
}

.book__button-remove:hover, .form-new-book__button:hover {
  background-color: rgba(216, 187, 142, 0.6);
  border-radius: 8px;
}

.book__button_read-button {
  all: unset;
  font-family: "Material Icons";
  font-size: 16pt;
  border: 2px solid rgb(90, 90, 90);
  border-radius: 8px;
  padding: 2px 4px;
  background-color: rgba(216, 187, 142, 0.6);

  margin-top: 10px;
}

.book__button_read-button:hover {
  border: 2px solid rgba(40, 40, 40);
  cursor: pointer;
}

.book__button_read-label {
  display: inline-block;
  margin-top: 10px;
}

.form {
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  background-color: blanchedalmond;

  border-radius: 10px;
  box-shadow: 0px 2px 3px 2px grey;
  font-size: 16pt;
}

.form-new-book {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  padding: 60px 40px;
  gap: 25px;
}

.form-new-book__checkbox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.form-new-book__parameter {
  display: flex;
  flex-flow: row nowrap;
}

.form-new-book__parameter_type_label {
  width: 4em;
}

.form-new-book__parameter_type_input {
  width: 15em;
  font-size: inherit;
}

.form-new-book__parameter_type_checkbox {
  width: 30px;
  height: 30px;
}

.form-new-book__controls {
  align-self: center;
}

.form-new-book__button {
  all: unset;
  font-size: 16pt;

  border: 2px solid black;
  background-color: rgba(216, 187, 142, 0.6);

  border-radius: 8px;
  padding: 6px 30px;
}

.form-new-book__button:hover {
  background-color: rgb(231, 220, 179);
  cursor: pointer;
}

.form__disabled {
  opacity: 0;
  z-index: -1;
}

.bookshelf__add-new {
  all: unset;
  border-radius: 4px;
  border: 2px solid rgb(230, 230, 230);
  background-color: white;
  padding: 6px;
}

.overlay__darken {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  filter: blur(1px) grayscale(70%);
  opacity: 0.6;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
}