@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  font-size: 12pt;
}

html {
  box-sizing: border-box;
  background-color: rgb(242, 242, 242);

  font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.static-header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px 10px;

  width: 100%;
  background-color: blanchedalmond;

  box-shadow: 0px 0px 4px 2px grey;

  z-index: 1;
}

.header__title {
  font-size: 18pt;
  margin-left: 50px;
}

.header__button {
  padding: 5px;
  border-radius: 5px;
 
  font-family: inherit;
  font-size: 12pt;
  border: unset;

  background-color: white;

  box-shadow: 0px 0px 2px 1px rgb(190, 190, 190);
  float: right;
}


.bookshelf {
  position: absolute;
  left: 50%;
  
  transform: translate(-50%);
  
  width: 70%;
  max-width: 80%;

  height: 800px;
  width: 70%;
  max-width: 80%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.bookshelf__main-pane {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  overflow-y: scroll;
  padding: 5px;
}

.bookshelf__navigation-button {
  all: unset;
  text-align: center;
  font-family: 'Material Icons';
  font-size: 30pt;
}

.book {
  display: flex;
  flex-flow: column nowrap;
}

.bookshelf__book {
  position: relative;
  
  background-color: white;
  box-shadow: 0px 0px 7px 2px rgb(190, 190, 190);
  
  border: 2px solid white;
  border-radius: 6px;

  padding: 15px;
}

.book__info-entry {
  display: flex;
  flex-flow: row nowrap;
  font-size: inherit;
  
  gap: 15px;
  margin: 0.4em;
}

.form {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  background-color: blanchedalmond;

  border-radius: 10px;
  box-shadow: 0px 2px 3px 1px grey;
}

.form-new-book {
  min-width: 500px;
  z-index: 1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  padding: 30px 20px;
  gap: 10px; 
}

.form-new-book__parameter {
  display: flex;
  flex-flow: row nowrap;
}

.form-new-book__parameter_type_label { 
  width: 4em;
}


.form__disabled {
  opacity: 0;
  z-index: -1;
}

.book__button-remove { 
  all: unset;
  font-family: 'Material Icons';
  font-size: 18pt;

  border-radius: 3px;
}

.book__button-remove:hover {
  background-color: rgb(230, 230, 230);
}

.bookshelf__add-new {
  all: unset;
  border-radius: 4px;
  border: 2px solid rgb(230, 230, 230);
  background-color: white;
  padding: 6px;
}